
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>工具导航</title>
</head>
<body>
    <div> 
        <a href="@Url.Action("EntityTemplate")">数据库实体</a>
        <a href="@Url.Action("RegisterMapping")">实体映射</a>
        <a href="@Url.Action("AllColumn")">SELECT所有字段</a>
        <a href="@Url.Action("JsonFormart")">JSON格式化</a>
    </div>
</body>
</html>
