@{
    ViewBag.Title = "json格式化";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head >
    <title>json格式化</title>
    <link href="~/tool/json/app.css" rel="stylesheet" type="text/css">
    <link href="~/tool/json/fileretriever.css" rel="stylesheet" type="text/css">
    <link href="~/tool/json/jsoneditor/css/jsoneditor.css" rel="stylesheet" type="text/css">
    <link href="~/tool/json/jsoneditor/css/menu.css" rel="stylesheet" type="text/css">
    <link href="~/tool/json/jsoneditor/css/searchbox.css" rel="stylesheet" type="text/css">
    <link href="~/tool/json/jsoneditor/css/contextmenu.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="~/tool/json/jsoneditor/js/jsoneditor.js"></script>
    <script type="text/javascript" src="~/tool/json/jsoneditor/js/treeeditor.js"></script>
    <script type="text/javascript" src="~/tool/json/jsoneditor/js/texteditor.js"></script>
    <script type="text/javascript" src="~/tool/json/jsoneditor/js/node.js"></script>
    <script type="text/javascript" src="~/tool/json/jsoneditor/js/appendnode.js"></script>
    <script type="text/javascript" src="~/tool/json/jsoneditor/js/contextmenu.js"></script>
    <script type="text/javascript" src="~/tool/json/jsoneditor/js/history.js"></script>
    <script type="text/javascript" src="~/tool/json/jsoneditor/js/searchbox.js"></script>
    <script type="text/javascript" src="~/tool/json/jsoneditor/js/modebox.js"></script>
    <script type="text/javascript" src="~/tool/json/jsoneditor/js/highlighter.js"></script>
    <script type="text/javascript" src="~/tool/json/jsoneditor/js/util.js"></script>
    <script type="text/javascript" src="~/tool/json/jsoneditor/js/module.js"></script>
    <script type="text/javascript" src="~/tool/json/queryparams.js"></script>
    <script type="text/javascript" src="~/tool/json/ajax.js"></script>
    <script type="text/javascript" src="~/tool/json/fileretriever.js"></script>
    <script type="text/javascript" src="~/tool/json/notify.js"></script>
    <script type="text/javascript" src="~/tool/json/splitter.js"></script>
    <script type="text/javascript" src="~/tool/json/app.js"></script>
</head>
<body>

    <div id="auto">
        <div id="contents">
            <div id="codeEditor"></div>
            <div id="splitter">
                <div id="buttons">
                    <div>
                        <button id="toTree" class="convert" title="复制代码到树形编辑器">
                            <div class="convert-right"></div>
                        </button>
                    </div>
                    <div>
                        <button id="toCode" class="convert" title="复制树形到代码编辑器">
                            <div class="convert-left"></div>
                        </button>
                    </div>
                </div>
                <div id="drag">
                </div>
            </div>
            <div id="treeEditor"></div>
            <script type="text/javascript">
                app.load();
                app.resize();
            </script>
        </div>
    </div>
</body>
</html>
